$disabled-color: var(--ion-color-medium);
$disabled-opacity: 0.4;
$text-color: var(--ion-text-color);

.days {
  width: 14%;
  float: left;
  text-align: center;
  height: 36px;
  margin-bottom: 5px;

  &:nth-of-type(7n),
  &:nth-of-type(7n + 1) {
    width: 15%;
  }

  .last-month-day p,
  .next-month-day p {
    color: $disabled-color;
    opacity: $disabled-opacity;
  }

  &.start-selection .days-btn,
  &.end-selection .days-btn {
    background-color: var(--ion-color-primary);
    color: $text-color;
  }

  &.start-selection {
    position: relative;

    &:before,
    &:after {
      height: 36px;
      width: 50%;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }

    &:before {
      background-color: var(--ion-color-primary);
    }

    &:after {
      background-color: $text-color;
      opacity: 0.25;
    }
  }

  &.end-selection {
    position: relative;

    &:before,
    &:after {
      height: 36px;
      width: 50%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    &:before {
      background-color: var(--ion-color-primary);
    }

    &:after {
      background-color: $text-color;
      opacity: 0.25;
    }
  }

  .start-selection.end-selection {
    &:after {
      background-color: transparent;
    }
  }

  &.start-selection .days-btn {
    border-radius: 50%;
  }

  &.between .days-btn {
    background-color: var(--ion-color-primary);
    width: 100%;
    border-radius: 0;
    position: relative;

    &:after {
      height: 36px;
      width: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: $text-color;
      opacity: 0.25;
    }

    p {
      color: $text-color;
    }
  }

  &.end-selection .days-btn {
    p {
      color: $text-color;
    }
  }

  &.start-selection,
  &.end-selection,
  &.between {
    .days-btn {
      transition: background-color 180ms ease-in-out;
    }
  }

  &.start-selection.end-selection::before {
    --ion-color-primary: transparent;
  }

  &.start-selection:nth-child(7n):before,
  &.between:nth-child(7n) .days-btn {
    &.on-selected {
      border-radius: 50%;
    }
  }

  &.start-selection .days-btn.is-first,
  &.end-selection .days-btn.is-first,
  .days-btn.is-first.on-selected,
  .days-btn.is-last.on-selected,
  .start-selection .days-btn.is-last,
  .end-selection .days-btn.is-last {
    border-radius: 50%;
  }
}

.days-btn {
  cursor: pointer;
  border-radius: 36px;
  width: 36px;
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 36px;
  background: transparent;
  position: relative;
  z-index: 2;
  outline: 0;

  p {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: $text-color;
  }

  &[disabled] p {
    color: $disabled-color;
    cursor: default;
  }

  &.today p {
    font-weight: bold;
  }

  &.marked p {
    color: var(--ion-color-primary);
    font-weight: 500;
  }

  &.on-selected {
    background: var(--ion-color-primary);
    color: $text-color;
    border: none;

    p {
      font-size: 1.3em;
    }
  }
}
