<div class="calendar-container">
  <ion-button type="button" fill="clear" class="switch-btn" [attr.aria-label]="monthFormat(monthOpt.original.timestamp)"
    (click)="switchMode()">
    {{ monthFormat(monthOpt.original.timestamp) }}

    <ion-icon class="arrow-dropdown" [name]="arrowIcon"></ion-icon>
  </ion-button>

  <ng-container *ngIf="calendarOpts.showToggleButtons">
    <ion-button type="button" fill="clear" class="back-btn" [disabled]="!canGoBack" (click)="prev()">
      <ion-icon slot="icon-only" size="small" [name]="'chevron-back-outline'"></ion-icon>
    </ion-button>

    <ion-button type="button" fill="clear" class="next-btn" [disabled]="!canGoNext" (click)="next()">
      <ion-icon slot="icon-only" size="small" [name]="'chevron-forward-outline'"></ion-icon>
    </ion-button>
  </ng-container>
</div>

<ng-container [ngSwitch]="viewMode">
  <ng-container *ngSwitchCase="'days'">
    <calendar-week></calendar-week>

    <calendar-days [selectedMonth]="monthOpt"></calendar-days>
  </ng-container>

  <ng-container *ngSwitchCase="'month'">
    <month-picker [month]="monthOpt" (onSelect)="monthOnSelect($event)"></month-picker>
  </ng-container>
</ng-container>
